################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment1/.vs/VSWorkspaceState.json
/Assignment1/.vs/slnx.sqlite
/Assignment1/.vs/ProjectSettings.json
/Assignment1/.vs/Assignment1/v15/.suo
